html{
  color:aliceblue;
  background-color: rgb(90, 92, 95);
}

.nav-line{
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 5px;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: rgb(70, 73, 77);
}

.nav-list-left{
  margin: 5px;
  padding: 5px; 
  font-size: large;
}

.nav-list-center{
  justify-content: center;
  display: flex;
  width:100%;
}

.nav-list-right{
  margin-left: 10px;
  margin-right: 20px;
  font-size: large;
  align-items:center;
}

a{
  font-size: large;
  color: aliceblue;
  text-decoration: none;
}
a:hover{
  color:rgb(107, 164, 238)
}

.game-review {
  background: rgb(70, 73, 77);
  padding: 2rem;
  margin: 1rem;
  filter: drop-shadow(0 0 0.75rem rgb(51, 53, 56));
}

.review-grid{
  flex-direction:row;
  display:flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.images{
  width: 400px;
  border: 5px solid rgb(156, 72, 252);
}

.title{
  font-weight: bold;
}

.loading{
  justify-content: center;
  font-size: x-large;
  text-align: center;
  display: flex;
}

.review-single-grid{
  background: rgb(70, 73, 77);
  padding: 2rem;
  margin: 3rem;
  filter: drop-shadow(0 0 0.75rem rgb(51, 53, 56));
}

.single-game-review{
  flex-direction:row;
  display:flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.comments{
  list-style-type: none;
   background: rgb(70, 73, 77);
   padding: 2rem;
   margin: 3rem;
   margin-left:0.5rem;
   filter: drop-shadow(0 0 0.75rem rgb(51, 53, 56));
  }
  
  .comment-author{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: bold;
}
  .comment-comment{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.votes{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.no-comments{
  justify-content: center;
  font-size: x-large;
  text-align: center;
  display: flex;
}


.arrow {
  border: solid rgb(156, 72, 252);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3.5px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}