html{
  color:rgb(255, 233, 193);
  background-color: rgb(90, 92, 95);
}

.review-loading-writing{
  color:rgb(255, 191, 54);
}

.nav-line{
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 5px;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: rgb(70, 73, 77);
}

.nav-list-left{
  margin: 5px;
  padding: 5px; 
  font-size: large;
}

.nav-list-center{
  justify-content: center;
  display: flex;
  width:100%;
}

.nav-list-right{
  margin-left: 20px;
  margin-right: 20px;
  font-size: large;
  align-items:center;
}

a{
  font-size: large;
  color: rgb(255, 233, 193);
  text-decoration: none;
}
a:hover{
  color:rgb(255, 191, 54);
}

.game-review {
  background: rgb(70, 73, 77);
  padding: 2rem;
  margin: 1rem;
  filter: drop-shadow(0 0 0.75rem rgb(51, 53, 56));
}

.review-grid{
  flex-direction:row;
  display:flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.images{
  width: 400px;
  border: 5px solid rgb(255, 191, 54);
}

.title{
  font-weight: bold;
}

.loading{
  justify-content: center;
  font-size: x-large;
  text-align: center;
  display: flex;
}

.review-single-grid{
  background: rgb(70, 73, 77);
  padding: 2rem;
  margin: 3rem;
  filter: drop-shadow(0 0 0.75rem rgb(51, 53, 56));
}

.single-game-review{
  flex-direction:row;
  display:flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.comments{
  list-style-type: none;
   background: rgb(70, 73, 77);
   padding: 2rem;
   margin: 3rem;
   margin-top:1em;
   margin-left:0.5rem;
   filter: drop-shadow(0 0 0.75rem rgb(51, 53, 56));
  }
  
  .comment-author{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: bold;
}
  .comment-comment{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.votes{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.no-comments{
  justify-content: center;
  font-size: x-large;
  text-align: center;
  display: flex;
}

.review-vote-box{
  flex-direction:row;
  display:flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.arrow {
  border: solid rgb(255, 191, 54);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3.5px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.login-section{
   background: rgb(70, 73, 77);
   padding: 2rem;
   margin: 3rem;
   filter: drop-shadow(0 0 0.75rem rgb(255, 191, 54));
   justify-content: center;
   text-align: center;
}


.add-comment-form{
    display: grid;
    justify-content: center;
}

.posted-comment{
  text-align: center;
  color:rgb(255, 191, 54);
}

.comment-grid{
  margin-top:0.2em;
}

.add-comment-button{
  display: flex;
  margin-left: 4em;
}

.category-section{
   display: flex;
  margin-top: 5px;
  margin-right:5em;
  justify-content:left;
}

.sort-header{
  display: inline;
  float:inline-start;
  margin-top: 15px;
  margin-right:5em;
  margin-bottom: 0px;
}

.comment-delete{
  display: flex;
  justify-content: center;
  text-align: center;
}

.deleted-messages{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top:1em;
}

.error-handler{
  color: rgb(237, 61, 61);
  display: inline;
  text-align: center;
}